<article *ngIf="empire">
  <header><h2>Edit empire</h2></header>

  <form class="container"  #form="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="population">Population:</label>
          <input id="population" name="population" [(ngModel)]="empire!.population"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="starSystems">Star Systems:</label>
          <textarea id="starSystems" name="starSystems" [(ngModel)]="empire!.starSystems"></textarea>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Update</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm(original)">Reset</button>
      </div>
    </div>
  </form>
</article>

