<article>
  <header><h2>Create colony</h2></header>

  <form class="container"  #form="ngForm" [formGroup]="colonyForm1!" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" formControlName="name"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="population">Population:</label>
          <input id="population" name="population" formControlName="population"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="environment">Environment :</label>
          <input id="environment" name="environment" formControlName="environment"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="mainExport">Main Export:</label>
          <input id="mainExport" name="mainExport" formControlName="mainExport"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="empire">Empire ID:</label>
          <input id="empire" name="empire" formControlName="empire"/>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Create</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm()">Reset</button>
      </div>
    </div>
  </form>
</article>

